body {
  background-color: aqua;
}

.welcome-container__welcome-headline {
  position: relative;
  left: 25%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-container__welcome-paragraph{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin: 0%;
}

.body__stats-container {
  background-color: grey;
  height: 50%;
  width: 850px;
  position: absolute;
  text-align: center;
  border: 2px solid black
}

.stats-container__stats-headline {
  text-decoration: underline;
  font-size: 15pt;
}

.body__typing-container {
  background-color: grey;
  height: 100%;
  width: 850px;
  position: absolute;
  top: 60%;
}

.typing-container__welcome-headline {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin: 0%;
}

.typing-container__typing-area {
  height: 100%;
}

.typing-area__text {
  font-size: 15pt;
  height: 100%;
  margin: 0%;
  background-color: gray;
  border: 2px solid black;
}
